// Header
#header { 
    margin: 0;
    padding: 15px 0px 5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0,.8);
    box-shadow: 0 0 25px 15px rgba(0,0,0,.8);

    h1#logo {}

    > div {
        float: left;
    }

    a, .widget {
        color: #ccc;
        text-shadow: 1px 1px 1px #aaa;
        font-size: 2rem;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        transition: text-shadow .2s;

        &:hover {
            text-shadow: 1px 1px 1px #aaa,
                         0 0 15px white;
            transition: text-shadow .2s;
        }
    }

    ul {
        margin: 0;
        list-style: none;

        li {
            margin: 0;
        }
    }

    ul, .widget {
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            overflow: hidden;
            padding: 10px 0;
            background-color: rgba(0,0,0,.8);
            border-radius: 0 0 20px 20px;
            box-shadow: 0 0 25px 15px rgba(0,0,0,.8);
            min-width: 100%;
            max-height: 0%;
            transition: max-height .5s cubic-bezier(.01,.51,.37,.97),
                            opacity .51s step-end;
            opacity: 0;

            a {
                font-size: 1.5rem;
                line-height: 1.3;
            }
        }

        &:hover ul {
            opacity: 1;
        }
    }

}

// Main Content

html {
    background-color: black;
    font-size: 13px;
}
#breadcrumbs {}
#content {
    position: absolute;
    z-index:-1;
    opacity: 0;
    padding: 30px;
    margin: 5% auto 0;
    width: 80%;
    max-width: 1080px;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    border-radius: 20px;
    .glass-box();
    background-color: rgba(100,100,105,0.75);
    color: #ccc;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    line-height: 1.2;

    &.show {
        z-index: 1;
        opacity: 1;
        transition: opacity 1s;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }

    p {
        margin-bottom: @base-line-height;
    }

    a {
        text-shadow: none;
        text-decoration: none;
    }

    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: #ccc;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 32px;
            height: 4px;
            background-color: black;
            border-radius: 2px;
            top: 17px;
        }

        &:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 4px;
        }

        &:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 4px;
        }
    }
}

#loading {
    display: none;
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;

    &.in-progress {
        .animation(loading 2s ease-in-out infinite);
        display: block;
    }
}

h2 {
    a {
        text-decoration: none;
        color: inherit;
    }
}

// Cesium Styling

.cesium-viewer {
    position: fixed !important;
}

.cesium-selection-wrapper {
    svg {
        fill: #106b98 !important;
    }
}

.cesium-home-button {
    display: none !important;
}

// Page Styling
#page {
    header {
        .title {}
        .subtitle {}
    }

    .content {}

    footer {}
}

// Post Styling
.post {
    header {
        .title {}
        .subtitle {}
    }

    .content {}
    
    .author {
        .avatar {}
        .name {}
        .meta-description {}
    }

    .date {}
    .meta {
        font-size: 1.5rem;
        margin-bottom: @base-line-height;
    }
    .categories {}
    .tags {}

    footer {}
}

.excerpt {
    header {
        .title {}
        .subtitle {}
    }

    .content {}

    footer {}
}

// Sidebar Content
.sidebar {
    .widget {
        h3 {}
    }
}

// Footer Content
#footer {
    margin: 0;

    .widget {}
}

// Helper Classes

.glass-box() {
    background-color: rgba(140,140,145,0.5);
    box-shadow: inset 0 -6px 25px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.4);
}

// Animations

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}