// Header
#header { 
    margin: 0;
    padding: 15px 10px;
    position: absolute;
    background-color: rgba(150,150,150,0.5);
    z-index: 1;
    border-radius: 20px;
    left: 5%;
    top: 20%;
    box-shadow: inset 0 -6px 25px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.4);

    h1#logo {}
    
    .menu {
        ul {
            list-style: none;
            margin: 0;

            li {
                margin: 0;

                a {
                    color: #ddd;
                    text-shadow: 1px 1px 1px black;
                    font-size: 1.5rem;
                    padding: 10px;
                    display: block;
                    text-decoration: none;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(32,34,36,.5);
                        box-shadow: 0 0 1px 3px rgba(32,34,36,.5);
                    }
                }
            }
        }
    }
}

// Main Content
#breadcrumbs {}
#content {}

// Page Styling
#page {
    header {
        .title {}
        .subtitle {}
    }

    .content {}

    footer {}
}

// Post Styling
.post {
    header {
        .title {}
        .subtitle {}
    }

    .content {}
    
    .author {
        .avatar {}
        .name {}
        .meta-description {}
    }

    .date {}
    .meta {}
    .categories {}
    .tags {}

    footer {}
}

.excerpt {
    header {
        .title {}
        .subtitle {}
    }

    .content {}

    footer {}
}

// Sidebar Content
.sidebar {
    .widget {
        h3 {}
    }
}

// Footer Content
#footer {
    margin: 0;

    .widget {}
}
